#body{
 background-color: #d3d3d3;
 text-align: center;
 color:black;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:blueviolet;
    text-align: center;
}

#form{
    text-align: center;
}
#ul{
    text-align:center;
}
#li{
    justify-content: center;
}